/**************************TAG STYLING******************************/
body {
  margin: 0;
  text-align: center;
  font-family: "Tinos", serif;
  background-color: #e3e3e3;
}
h1 {
  margin-top: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem; /*16px==100%==1em,90px/16px*100=562.5%*/
  color: #e3e3e3;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #455d7a;
  font-weight: normal;
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: #f95959;
}
a {
  color: #f95959;
}
span {
  text-decoration: underline;
}
hr {
  border-top: 10px dotted #eaf6f6;
  border-left: none;
  border-right: none;
  border-bottom: none;
  width: 5%;
  margin:100px auto;
}
p{
  line-height: 2;
}
a{
  text-decoration: none;
  color: #283149; 
  margin: 10px 20px; 
  font-family: "Montserrat", sans-serif;
}
a:hover{
  color: #eaf6f6 ;
}

/**************************CLASSES STYLING******************************/
.top-container {
  background-color:#455d7a;
  position: relative;
  padding-top: 100px;
}
.middle-container {
  margin: 100px 0;
}
.bottom-container {
  /* margin: 100px auto 0px auto; */
  background-color: #455d7a; 
  /* position: relative;
  top: 15px;   */
  padding: 50px 0 20px 0 ;
}

.intro{
  margin: auto; 
}
.top-cloud {
  position: absolute;
  right: 250px;
  top: 40px;
}
.bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 300px;
}
.h2-class{
  color: #e3e3e3;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left; 
}

.profile {
  width: 50%;  
  margin: 100px auto 100px auto;
}

.DesktopImg {
  width: 25%;
  float: left;
  margin-right: 20px;  
}

.WebPageImg {
  width: 25%;
  float: right;
  margin-right: 20px;
}

.contact-message{
  width: 40%;
  margin:50px auto 50px auto;
}


.copywrite {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding:20px 0;
}

.myButton {
	box-shadow:inset 0px 0px 15px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color:#2e466e;
	border-radius:7px;
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  font-family: "Montserrat", sans-serif;
	font-size:20px;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.myButton:hover {
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color:#415989;
}
.myButton:active {
	position:relative;
	top:1px;
}